body {
  font-family: "avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #fff;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.hidden {
  fill: none;
  stroke: none;
  stroke-width: 0px;
}

.map {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
 
}


