html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  /* background-color: #D6D1CD; */
  height: 100%;
  /* color: #bfbfbf; */
  /* padding: 10px; */
  /* margin-top: 100px; */
  /* background-color: #1a1a1a; */
  overflow: hidden;
}

#tooltip {
  /* font-family: 'Open Sans', sans-serif;
  font-size: 12px; */
  font-weight: 100;
}

.deaths {
  font-weight: 900;
}

#province {
  font-weight: 900;
}

#refugees {
  font-weight: 900;
}

#country {
  font-weight: 900;
}

.date {
  font-weight: 900;
}

#actorData {
  font-weight: 900;
}

/* The Help Button (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 20px 16px;
  background-color: black;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 20px 16px;
  font-size: 14pt;
  font-weight: 100;
  background-color: white;
}

/* Modal Footer */
.modal-footer {
  padding: 10px 16px;
  background-color: black;
  color: white;
  height: 60px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: #fefefe; */
  margin: 5% auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: white;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal-title {
  font-weight: 900;
}

.ul {
  align-content: left;
}


/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#linechart {
  padding-right: 40px;
}

.low-opacity {
  opacity: 0.3;
}

.syp {
  margin-bottom: 12px;
}

#bar_chart {
  padding-right: 40px;
}

.visualisation {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.vis {
  /* background-color: #373737; */
  /* background-color: #f4f4f4; */
  border-radius: 0px 0px 10px 10px;
}

.visualisation-title {
  color: white;
  background-color: #16262E;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}

.visualisation-title-text {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #bfbfbf;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #fff;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.slider-container {
  user-select: none;
}

.s-node {
  transition: 0.2s all;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #bfbfbf;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.hidden {
  fill: none;
  stroke: none;
  stroke-width: 0px;
  display: none;
}

#line-chart-dropdown {
  display: none;
}

/* ------------------------------ */
/* ------------------------------ */
/* SLIDER */

.slider-container {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  /* background-color: #D6D1CD; */
  z-index: 500;
  padding-top: 10px;
  -webkit-box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 2px 26px -6px rgba(0, 0, 0, 0.71);
  padding-bottom: 15px;
  display: flex;
  /* width: 100%; */
}

.title {
  text-align: center;
  margin-top: 10px;
  padding-left: 18px;
  font-size: 15px;
  padding-right: 4px;
  font-weight: 700;
  min-width: 180px;
}

#slider:hover {
  /* opacity: 0.9; */
}

.main-container {
  height: 100%;
  padding-top: 105px;
  position: relative;
}

/* ------------------------------ */
/* ------------------------------ */
/* TODAL NUMEBERS CENTER BOX */
.info-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #bfbfbf;
  background-color: #1a1a1a;
  /* border: 1px solid #bfbfbf; */
}

th,
td {
  padding: 5px;
  text-align: left;
}

#total {
  color: #b40d0d;
  font-weight: bold;
}

#total.blue {
  color: #80cbc4;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

h1 {
  font-size: 14pt;
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
  padding-top: 10px;
  color: #bfbfbf;
}

h2 {
  font-size: 16pt;
  text-align: center;
  padding-top: 10px;
  color: white;
}

h3 {
  font-size: 10pt;
  text-align: center;
  padding-top: 10px;
  color: #bfbfbf;
}

.node text {
  pointer-events: none;
  /* text-shadow: 0 1px 0 #fff; */
}

.link {
  /* fill: none;
  stroke: #000;
  stroke-opacity: .2; */
  /* transition: all 0.2s; */
  transition: all 0.2s;
  fill: none;
  stroke: #383838;
  stroke-opacity: .2;
}

.axis text {
  /* font-family: calibri, sans serif; */
  font-size: 8pt;
}

.yxis text {
  /* font-family: calibri, sans serif; */
  font-size: 10pt;
}

.link:hover {
  stroke-opacity: .5;
}

/* Buttons */

.linechart-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 57px;
}

.barchart-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 55px;
}

.button {
  margin-top: 5px;
  margin-bottom: 5px;
  /* background-color: lightgray; */
  border: 1px solid grey;

  /* color: black; */
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s all;
}

.button:hover,
.button:focus {
  background-color: grey;
  outline: none;
}

.button.bread {
  background: #DB4437;
}

.button.sugar {
  background: #4285F4;
}

.button.rice {
  background: #F4B400;
}

.button.fuel {
  background: #0F9D58;
}

.button.barsblue {
  background: #16262E;
  border-color: white;
  color: white;
}

/* Bar chart */

.bar {
  fill: #16262E;
}

/* text {
  font-size: 12px;
  fill: #bfbfbf;
} */

/* careful, these affect ALL svg paths */
path {
  stroke: black;

}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 3;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.2;
}

text.divergence {
  font-size: 14px;
  fill: gray;
}

.legend {
  font-size: 12px;
}

/* text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
} */

/* text.label {
  font-size: 14px;
  font-weight: bold;
  background: white;
} */

/* text.source {
  font-size: 10px;
} */