body {
  font-family: "avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
  padding: 10px;
  margin-top: 100px;

}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #fff;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.hidden {
  fill: none;
  stroke: none;
  stroke-width: 0px;
}

/* map container */
#map {}

#line-chart-dropdown {
  display: none;
}

#slider {
  position: fixed;
  top: 0px;
  background-color: white;
  /* opacity: 0.2;
  transition: all 0.6s; */
}

.main-container {
  position: relative;
}

.info-box {
  width: 130px;
  height: 20px;
  position: absolute;
  left: 620px;
  top: 300px;
  color: black;
  border: 1px black solid;
  background-color: white;
  text-align: center;
  padding: 20px;
}

#slider:hover {
  opacity: 0.9;
}

.flex-container {
  display: flex;
  /* justify-content: space-evenly; */
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

h1 { 
  font-size: 25pt;
  font-family: calibri, arial, sans serif;
  text-align: center;
  font-weight: bold;
  padding: 30px;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.axis text {
  font-family: calibri, sans serif;
  font-size: 10pt;
}

.yxis text {
  font-family: calibri, sans serif;
  font-size: 10pt;
}

.link:hover {
  stroke-opacity: .5;
}

/* Bar chart buttons */

.button {
  background-color: steelblue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Bar chart */

.bar {
  fill: #80cbc4;
}

text {
  font-size: 12px;
  fill: #000;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 3;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.2;
}

text.divergence {
  font-size: 14px;
  fill: gray;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}